header{
  background-color:grey;
  height:20%;
  width:inherit;
}

#logo{
  width:100%;
  height:50%;
  background-image: url("http://nodejs.org/static/images/logo.png");
}

#links{
  height:50%;
  margin:0;
  padding-top: 0.5%;
  padding-bottom:0.5%;
}
#links a{
  color:white;
  margin:0.3%;
}
#banner{
  height:15%;
  width:inherit;
  background-image: url("http://nodejs.org/static/images/interactive/background.jpg");
}
#banner div{
  width: 100%;
  background-image: url(http://nodejs.org/);
}
#bottom{
  height:40%;
}
#bottom p{
  height:25%;
}
#bottom div{
  width:25%;
}
#footer{
  height:25%;
}
