#logo{
  width:inherit;
  height:10%;
  background-color:grey;
}
#logo img{
  width:100%;
  height:100%;
}
#links{
  height:10%;
  background-color:grey;
  margin:0;
}
li{
  float:left;
}
#banner{
  height:15%;
  width:inherit;
}
#banner img{
  width: 100%;
}
#bottom{
  height:40%;
}
#bottom p{
  height:25%;
}
#bottom div{
  width:25%;
}
#footer{
  height:25%;
}
