header{
  background-color:grey;
  height:200px;
  width:100%;
}

#logo{
  width:50%;
  height:auto;
  background-image: url("https://nodejs.org/static/images/logo.png");
}

#links{
  height:50%;
  margin:0;
  padding-top: 0.5%;
  padding-bottom:0.5%;
}
#links a{
  color:white;
  margin:0.3%;
}
#banner{
  height:15%;
  width:inherit;
  background-image: url("https://nodejs.org/static/images/interactive/nodejs-interactive.png");
}
#banner div{
  width: inherit;
  height:inherit;
  background-image: url("http://nodejs.org/static/images/interactive/background.jpg");
}
#bottom{
  height:40%;
}
#bottom p{
  height:25%;
}
#bottom div{
  width:25%;
  height:75%;
  background-color:green;
}
#footer{
  height:25%;
}
